<header>
  <div class="top">
    <a class="logo" href="#home">WikiMaps</a>
    <a class="login" href="#home">Login</a>
  </div>


    <div class="topnav">
      <nav>
      <a class="crumbs" href="#myprofile">My profile</a>
      <a class="crumbs" href="#search">Search Maps</a>
      <a class="crumbs" href="#create">Create map</a>
      <a class="crumbs" href="#favourites">&#9733</a>
      </nav>
    </div>
  </header>
  <form id="search">
    <input type="text">
    <input type="submit" value="Search">
  </form><br>

