@import "global";

h3 {
  text-align: center;
}
.create_map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }

  button {
    margin-top: 2rem;
  }
}

textarea {
  height: 200px;
  width: 100%;
  font-size: 1.4rem;
  resize: none;
  border: none;
  outline: none;
  overflow: hidden;
  display: block;
  border: solid $theme-dark 1px;
}
