@import "global";

h3 {
  text-align: center;
}
.create_map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }

  button {
    margin-top: 2rem;
  }
}

.create_map > input, textarea {
  font    : 1.4em/1.5em "handwriting", cursive, sans-serif;
  border  : 2px solid #2A9D8F;
  padding : 0 10px;
  margin  : 0;
  width   : 80%;
  background : none;
}

input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
}

// textarea {
//   height: 200px;
//   width: 100%;
//   font-size: 1.4rem;
//   resize: none;
//   border: none;
//   outline: none;
//   overflow: hidden;
//   display: block;
//   border: solid $theme-dark 1px;
// }

