@import 'global';

.k-row {
  display: flex;
  font-size: .8em;
  justify-content: center;
}

.k-row a {
  font-size: .75em
}

// .sml-map {
//   position: relative;
//   margin: 10px;
// }

// .sml-map img {
//   display: block;
// }

// .sml-map .fa-heart {
//   font-size: 2rem;
//   position: absolute;
//   bottom: 0;
//   left: 50;
// }

.like-btn {
  font-size: 2rem;
  border:none;
}

.unliked {
  background: #EEE;
  color: $theme-dark;
}

.liked {
  background: #EEE;
  color: $theme-red;
  transform: scale(1.2);
}

.map p {
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {

.k-row {
  font-size: 1.3rem;
}
}

