@import 'global';

.display-map {
  h3{
    text-align: center;
    margin: 1em;
  }

  .map-buttons{
    display: flex;
    justify-content: center;

    button {
      margin:1em;
    }
  }
}


#map{
  display: flex;
  justify-content: center;
  height:400px;
  width:80%;
  margin: 10%;
}




