@import 'global';

.display-map {
  h3{
    text-align: center;
    margin: 1em;
  }

  .map-buttons{
    display: flex;
    justify-content: center;

    button {
      margin:1em;
    }
  }
}


#map{
  display: flex;
  justify-content: center;
  height:400px;
  width:80%;
  margin: 10%;
}

.user_map {
  height: 100px;
  width: 100px;
  background-color: teal;
}

#my-input-searchbox {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  border-radius: 3px;
  border: 0;
  margin-top: 10px;
  width: 270px;
  height: 40px;
  text-overflow: ellipsis;
  padding: 0 1em;
}



