@import 'global';
@import 'header';
@import 'create-map';
@import 'index';
@import 'map';
@import 'user-profile';
@import 'mixins';

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #EEE;
  font-family: $font;
  font-size: 20px;

  h1 {
    color: #244751;
  }
}

