@import 'global';
@import 'header';
@import 'create-map';
@import 'index';
@import 'map';
@import 'user-profile';
@import 'mixins';

body {
  background-color: #EEE;
  font-family: $font;
  font-size: 2rem;
  h1 {
    color: #244751;
  }
}
