@import 'global';
@import 'mixins';
@import 'header';
@import 'create-map';
@import 'index';
@import 'map';
@import 'user-profile';
@import 'footer';

html, body
{
  min-height: 100vh;
  overflow: auto;
}

body {
  background-color: #EEE;
  font-family: $font;
  font-size: 20px;
  line-height: 1.6;
  height: 100%;

  h3 {
    color: #244751;
    font-weight: bold;
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


#init-map {
  height: 400px;
  width: 700px
}



